@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');


.headnav {
    min-height: 100px;
    margin-bottom: 0px;
    background-color: rgb(255, 255, 255);
    border:none;
}

.navbar > .container-fluid .navbar-brand {
    font-size: 30px;
    margin-top: 30px;
    font-weight: bold;
    margin-left: 20px;
}

.navbar-nav > li > a {
    margin-top: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
}

.navbar-default .navbar-nav > li > a {
    color: black;
}

.select{
	background-color: #41F3A2;
	border: 1px solid #41F3A2;
	border-radius: 13px;
	margin-right: 10px;
}
