.headnav {
    min-height: 100px;
    margin-bottom: 0px;
    background-color: rgb(255, 255, 255);
    border:none;
}
.navbar > .container-fluid .navbar-brand {
    font-size: 30px;
    margin-top: 30px;
    font-weight: bold;
    margin-left: 20px;
}
.navbar-nav > li > a {
    margin-top: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
}
.select{
	background-color: #41F3A2;
	border: 1px solid #41F3A2;
	border-radius: 13px;
	margin-right: 50px;
}
.navbar-default .navbar-nav > li > a {
    color: black;
}
.btn-lg, .btn-group-lg > .btn {
    border-radius: 10px;
    font-size: 14px;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 15px;
}
.btn-primary {
    color: rgb(32, 27, 27);
    background-color: #41F3A2;
    border-color: #41F3A2;
}
.btn-primary:hover{
    background-color: #fff;
    color: black;
    border-color: #41F3A2;
}
.thumbimg{
    padding: 50px;
}
.thumbnail{
    box-shadow: 2px 2px 5px rgb(230, 228, 228);
    padding: 30px;
    border-radius: 15px;
    margin: 10px;
}
.firstview{
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 100px;
    margin-top: 150px;
}
.secondview{
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 200px;
}
.thirdview{
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 200px; 
}